<h1>Sign in</h1>

<%= form_for :session, url: '/signin' do |f| %>
  <% if flash[:error] %>
    <p>
      <%= flash[:error] %>
    </p>
  <% end %>

  <p>
    <%= f.label :email %>
    <%= f.text_field :email %> <br />

    <%= f.label :password %>
    <%= f.password_field :password %> <br />

    <%= f.label :remember_me? %>
    <%= f.check_box :remember_me %><br />

    <%= f.submit "Sign in" %>
  </p>

<% end %>
